[submodule "assets/lib"]
	path = assets/lib
	url = https://github.com/cotes2020/chirpy-static-assets.git
[submodule "themes/daisy"]
	path = themes/daisy
	url = https://codeberg.org/winterstein/zola-theme-daisy.git
	branch = main
[submodule "zola/themes/abridge"]
	path = zola/themes/abridge
	url = https://github.com/jieiku/abridge.git
